@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

html {
  overflow: hidden auto;
}

body {
  background: radial-gradient(white, #F4F4F4);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}