/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6082B6;
  --transparentPrimary: #6082B620;
}

html {
  overflow: hidden auto;
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: var(--primary);
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
}

.height-screen {
  height: 100vh;
  height: 100dvh;
}

.min-height-screen {
  min-height: 100vh;
  min-height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

table th,
table td {
  text-align: left;
  padding: 0.5rem 0.75rem;
}

table tr {
  border-bottom: 1px solid #00000040;
}

table tr:last-child {
  border-botttom: none;
}